well hello again



<form action="" method="post">

	<strong>Your email</strong>
	<input type='email' name='email' style='width: 210px;' required='required' /><br />

	<strong style='vertical-align:top;'>Your message</strong>
	<textarea name='message' style='height: 100px; width: 514px;'></textarea><br />



	<input type='submit' value='All done'   /><br />
</form>
              