<!DOCTYPE html>
<html lang="en" class="demo-2 no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<link rel="stylesheet" href="stylesheets/application.css" type="text/css" /> 



	</head>
	<body  >
<div class="container">
	
<div class="thanks">

<h1>Thanks !</h1>

</div>
</div>

	</body>
</html>